.menu-bar {
     height: 100%;
     flex-direction: column;
     gap: 50px;
     font-size: 1rem;
     position: relative;
     background: var(--input-color);
}
   
.ant-menu-light .ant-menu-item-selected,
.ant-menu-light .ant-menu-item-selected a,
.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title,
.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title a,
.ant-menu-light > .ant-menu .ant-menu-item-selected,
.ant-menu-light > .ant-menu .ant-menu-item-selected a {
     color: var(--black) !important;
     background-color: var(--light-green) !important;
}
   