.sby-container{
     background: var(--dark-silver);
     max-width: 100%;
     min-height: 100vh;
}

.sby-body {
     margin: 0 2rem 0 7rem;
     padding-bottom: 20px;
   }

.sby-body h1{
     color: var(--dark-blue);
     text-align: center;
     margin: 50px auto;
}

.sby-body p{
     line-height: 10px;
}

.sby-body p img {
     max-width: 50rem;
     max-height: 30rem;
   }
   
.sby-body p img{
     overflow: auto;
     white-space: nowrap;
   }