.logo{
     display: flex;
     align-items: center;
     justify-content: center;
     color: var(--black);
     background-color: var(--input-color);
     padding: 10px;
     margin: 0;
}
.logo-icon{
     width: 70px;
     height: 70px;
     display: flex;
     align-items: center;
     border-radius: 100%;
     border: 1px solid var(--black);
     justify-content: center;
     background-color: var(--light-green);
}